body,
html {
    height: 100%;
    margin: 0;
}
body div{
    display: block;
}
.bg {
    /* The image used */
    background-image: url("../images/1.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
    height: 100%;
}
.content button,
.content a {
    width: 50%;
}
.content a.link {
    outline: white solid 0.5px;
    padding: 6px 8px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    border: none;
    margin: 0;
    background: rgba(0, 0, 0, 0.2);
    font-family: helvetica, arial, sans-serif;
    font-size: 17pt;
    cursor:pointer;
    text-align: center;
    text-decoration: none;
}

.content a.link:hover {
    color:white;
}

button.btn.btn-secondary.btn-lg {
    outline: white solid 0.5px;
    padding: 6px 8px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    border: none;
    margin: 0;
    background: rgba(0, 0, 0, 0.2);
    font-family: helvetica, arial, sans-serif;
    font-size: 17pt;
    
}

button.btn.btn-secondary.btn-lg :hover {
    background: black;

}

.gradient-custom-3 {
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}
.gradient-custom-4 {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}

.modal-login .modal-content {
    border-radius: 50%;
}

.modal-login .close {
    position: absolute;
    right: 10px;
    font-size: 40px;
    font-weight: 400;
    outline: none;
}

.modal-login button {
    border: none;
/* }
    border:none; */
}
nav {
    position: absolute;
    top: 0px;
    right: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    margin: 0 5px;
    transition: background 300ms;
}
nav ul li a {
    text-decoration: none;
    color: rgb(207, 31, 31);
}
li.active {
    background: red;
}
